<main>
  <form class="login" [formGroup]="form">
    <h1>{{'LOGIN' | translate}}</h1>
    <div class="form-field">
      <input class="login-input" name="email" formControlName="email" type="text" placeholder=" ">
      <label class="login-label" for="email">{{'EMAIL' | translate}}</label>
      <div class="icon"><img src="/assets/icons/mail.svg" alt="mail icon"></div>
    </div>
    <label class="error" *ngIf="Email?.invalid && (Email?.touched || Email?.dirty)">{{'EMAIL_REQUIRED' | translate}}</label>

    <div class="form-field">
      <input class="login-input" name="password" formControlName="password" type="password" placeholder=" ">
      <label class="login-label" for="password">{{'PASSWORD' | translate}}</label>
      <div class="icon"><img src="/assets/icons/password.svg" alt="password icon"></div>
    </div>
    <label class="error" *ngIf="Password?.invalid && (Password?.touched || Password?.dirty)">{{'PASSWORD_REQUIRED' | translate}}</label>

    <div class="buttons">
      <button class="button blue" (click)="login()">{{'LOGIN' | translate}}</button>
    </div>
    <app-translate class="dn"></app-translate>
  </form>
</main>
