<form class="login" [formGroup]="form" (ngSubmit)="register()">
  <h1>{{'REGISTER' | translate}}</h1>

  <div class="input-field">
		<input formControlName="email" id="email" type="email" class="validate"
			[ngClass]="{'invalid': Email!.invalid && Email!.touched}">
		<label for="email">{{'EMAIL' | translate}}</label>
		<span class="helper-text red-text" *ngIf="Email?.invalid && Email?.touched">
			<span *ngIf="Email?.hasError('required')">{{'EMAIL_REQUIRED' | translate}}</span>
			<span *ngIf="Email?.hasError('email')">{{'EMAIL_INCORRECT' | translate}}</span>
		</span>
	</div>

	<div class="input-field">
		<input formControlName="password" id="password" type="password" class="validate"
			[ngClass]="{'invalid': Password?.invalid && Password?.touched }">
		<label for="password">{{'PASSWORD' | translate}}</label>
		<span class="helper-text red-text"
			*ngIf="Password?.invalid && Password?.touched">
			<span *ngIf="Password?.hasError('required')">{{'PASSWORD_REQUIRED' | translate}}</span>
			<span *ngIf="Password?.hasError('minlength')">{{'PASSWORD_MIN' | translate}}</span>
		</span>
	</div>

  <div class="input-field">
		<input formControlName="confirmPassword" id="confirmPassword" type="password" class="validate"
			[ngClass]="{'invalid': ConfirmPassword?.invalid && ConfirmPassword?.touched }">
		<label for="confirmPassword">{{'CONFIRM_PASSWORD' | translate}}</label>
		<span class="helper-text red-text"
			*ngIf="ConfirmPassword?.invalid && ConfirmPassword?.touched">
			<span *ngIf="ConfirmPassword?.hasError('required')">{{'PASSWORD_REQUIRED' | translate}}</span>
			<span *ngIf="ConfirmPassword?.hasError('minlength')">{{'PASSWORD_MIN' | translate}}</span>
		</span>
	</div>

  <div class="input-field">
		<input formControlName="username" id="username" type="text" class="validate"
			[ngClass]="{'invalid': Username?.invalid && Username?.touched }">
		<label for="username">{{'USERNAME' | translate}}</label>
		<span class="helper-text red-text"
			*ngIf="Username?.invalid && Username?.touched">
			<span *ngIf="Username?.hasError('required')">{{'USERNAME_REQUIRED' | translate}}</span>
		</span>
	</div>

  <button type="submit" [disabled]="form.disabled || form.invalid"
  class="waves-effect waves-green btn btn-yellow">{{'REGISTER' | translate}}</button>
</form>

