<header>
    <div class="logo">
        <img src="" alt="logo">
        <a routerLink="./">Ambition marketing</a>
    </div>

    <app-translate></app-translate>

    <div class="links">
        <a routerLink="Masseuses">{{'MASSEUSES' | translate}}</a>
        <a routerLink="Massages">{{'MASSAGES' | translate}}</a>
        <a routerLink="News">{{'NEWS' | translate}}</a>
        <a routerLink="Profile" *ngIf="isLogin">{{'PROFILE' | translate}}</a>
        <a routerLink="Register">{{'REGISTER' | translate}}</a>
        <a routerLink="Login">{{'LOGIN' | translate}}</a>
        <a (click)="logout()">{{'LOGOUT' | translate}}</a>
    </div>

    <div class="links-burger" [ngClass]="{'active': isActive}">
        <a routerLink="Masseuses">{{'MASSEUSES' | translate}}</a>
        <a routerLink="Massages">{{'MASSAGES' | translate}}</a>
        <a routerLink="News">{{'NEWS' | translate}}</a>
        <a routerLink="Profile">{{'PROFILE' | translate}}</a>
        <a routerLink="Register">{{'REGISTER' | translate}}</a>
        <a routerLink="Login">{{'LOGIN' | translate}}</a>
        <a (click)="logout()">{{'LOGOUT' | translate}}</a>
    </div>

    <div class="burger-wrapper" (click)="open()">
        <div class="burger" [ngClass]="{'active': isActive}">
            <span></span>
        </div>
    </div>

</header>


