<ng-container *ngIf="!isLoading">
  <img class="preview-img" [src]="apiUrl + '/static/' + news.previewImg" alt="news example">

  <div class="title">
    <h1>{{news.title}}</h1>
    <h5>{{news.date | date}}</h5>
  </div>

  <quill-view-html [content]="news.description"></quill-view-html>

  <hr>

  <div class="rating">
    <div class="likes">
      <div class="rating-item" (click)="like()">
        <img [src]="isLiked ? '/assets/icons/like-filled.svg' : '/assets/icons/like.svg'" alt="like icon">
        <p>{{news.likesCount}}</p>
      </div>
    </div>
    <div class="rating-item" (click)="openComments()">
      <img src="/assets/icons/comment.svg" alt="comment icon">
      <p>{{comments.length}}</p>
    </div>
  </div>
  <div class="comments" [ngClass]="{'active': isOpened}">
    <form [formGroup]="form" (ngSubmit)="writeComment()" *ngIf="isAuthenticated">
      <div class="input-field">
        <input formControlName="comment" id="comment" type="text" class="validate"
          [ngClass]="{'invalid': Comment!.invalid && Comment!.touched}">

        <label for="comment">Comment</label>

        <span class="helper-text red-text" *ngIf="Comment?.invalid && Comment?.touched">
          <span *ngIf="Comment?.hasError('required')">Comment can't be empty</span>
        </span>

        <button type="submit" [disabled]="form.disabled || form.invalid"
          class="modal-close waves-effect waves-green btn btn-yellow">Save</button>
      </div>
    </form>

    <div class="comment" *ngFor="let comment of comments">
      <div class="user">
        <img [src]="comment.fromUser.avatarImg ? (apiUrl + '/static/' + comment.fromUser.avatarImg) : '/assets/images/avatar-example.png'" alt="avatar example">
        <p>{{comment.fromUser.username}}</p>
      </div>
      <p>{{comment.comment}}</p>
    </div>
    <hr>
  </div>
</ng-container>

<app-loader *ngIf="isLoading"></app-loader>
