<div class="welcome">
        <h1>Ambition marketing</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Placeat provident odit, tempora numquam ut similique, suscipit aperiam nisi ratione reiciendis fugit 
            ex molestias voluptatem? Dignissimos quaerat hic iusto fugit maxime recusandae sunt laboriosam quo earum 
            explicabo fuga et autem delectus exercitationem aperiam, tempora porro ut voluptatem asperiores possimus? 
            Soluta, placeat minus rerum, optio expedita inventore, tempora saepe nesciunt quia quos voluptatem. 
            Vitae deleniti natus dicta temporibus, quidem culpa voluptates reiciendis corrupti delectus quam facere 
            inventore facilis est? Ipsa fuga explicabo illo nostrum consequatur dicta pariatur ea labore error excepturi 
            illum a sed vel, esse voluptas similique earum rerum? Quae, qui.</p>


    <img src="/assets/images/home-bg.svg" alt="women">
</div>

<div class="benefits">
    <h2>Why us?</h2>

    <div class="items">
        <div class="item">
            <img src="/assets/icons/success.svg" alt="success icon">
            <p>Benefit 1</p>
        </div>

        <div class="item">
            <img src="/assets/icons/success.svg" alt="success icon">
            <p>Benefit 2</p>
        </div>

        <div class="item">
            <img src="/assets/icons/success.svg" alt="success icon">
            <p>Benefit 3</p>
        </div>

        <div class="item">
            <img src="/assets/icons/success.svg" alt="success icon">
            <p>Benefit 4</p>
        </div>
    </div>
</div>