<!--BREADCRUMBS-->
<nav>
	<div class="nav-wrapper">
		<a routerLink="main" class="breadcrumb">Admin</a>
		<a routerLink="massages" class="breadcrumb">Massages</a>
	</div>
</nav>
<!--BREADCRUMBS-->

<button class="waves-effect waves-light btn modal-trigger btn-yellow right-btn" (click)="openAddModal()">Add
	massage</button>
<!--TABLE-->
<div *ngIf="massages$ | async as massages; else loader">
	<div class="collection" *ngIf="massages.length !== 0; else empty">
		<div class="item" *ngFor="let massage of massages">
			<a [routerLink]="['/admin/main/massages', massage._id]" class="collection-item collection-item-icon">
				<span>
					{{massage.name}}
				</span>
			</a>
			<div>
				<i class="material-icons" (click)="deleteMassage(massage._id!)">delete</i>
        <i class="material-icons" (click)="openChangeModal(massage._id!)">create</i>
			</div>
		</div>
	</div>

	<ng-template #empty>
		<h5 class="center">No massages here...</h5>
	</ng-template>
</div>

<ng-template #loader>
	<app-loader></app-loader>
</ng-template>
<!--TABLE-->


<form #addModal class="modal" [formGroup]="addForm" (ngSubmit)="addMassage()">
	<div class="modal-content">
		<h4>Add massage</h4>
		<div class="input-field">
			<input formControlName="name" id="name" type="text" class="validate"
				[ngClass]="{'invalid': Name!.invalid && Name!.touched}">
			<label for="name">Name</label>
			<span class="helper-text red-text" *ngIf="Name?.invalid && Name?.touched">
				<span *ngIf="Name?.hasError('required')">Name can't be empty</span>
			</span>
		</div>

		<div class="input-field">
			<input formControlName="description" id="description" type="text" class="validate"
				[ngClass]="{'invalid': Description?.invalid && Description?.touched }">
			<label for="description">Description</label>
			<span class="helper-text red-text"
				*ngIf="Description?.invalid && Description?.touched">
				<span *ngIf="Description?.hasError('required')">Description can't be empty</span>
			</span>
		</div>

    <div>
			<input type="file" class="dn" (change)="onFileUpload($event)" #input>
			<button [disabled]="addForm.disabled" type="button" (click)="triggerClick()"
				class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Upload
				image</button>
		</div>

		<div>
			<img class="responsive-image h200" [src]="imagePreview" *ngIf="imagePreview" alt="image preview">
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" (click)="closeAddModal()" [disabled]="addForm.disabled"
			class="modal-close waves-effect waves-green btn-flat">Close</button>
		<button type="submit" [disabled]="addForm.disabled || addForm.invalid"
			class="modal-close waves-effect waves-green btn btn-yellow">Save</button>
	</div>
</form>

<form #changeModal class="modal" [formGroup]="changeForm" (ngSubmit)="changeMassage()">
	<div class="modal-content">
		<h4>Change massage</h4>
		<div class="input-field">
			<input formControlName="name" id="change-name" type="text" class="validate"
				[ngClass]="{'invalid': ChangeName!.invalid && ChangeName!.touched}">
			<label for="change-name">Name</label>
			<span class="helper-text red-text" *ngIf="ChangeName?.invalid && ChangeName?.touched">
				<span *ngIf="ChangeName?.hasError('required')">Name can't be empty</span>
			</span>
		</div>

		<div class="input-field">
			<input formControlName="description" id="change-description" type="text" class="validate"
				[ngClass]="{'invalid': ChangeDescription?.invalid && ChangeDescription?.touched }">
			<label for="change-description">Description</label>
			<span class="helper-text red-text"
				*ngIf="ChangeDescription?.invalid && ChangeDescription?.touched">
				<span *ngIf="ChangeDescription?.hasError('required')">Description can't be empty</span>
			</span>
		</div>

    <div>
			<input type="file" class="dn" (change)="onFileUpload($event)" #input>
			<button [disabled]="changeForm.disabled" type="button" (click)="triggerClick()"
				class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Upload
				image</button>
		</div>

		<div>
			<img class="responsive-image h200" [src]="imagePreview" *ngIf="imagePreview" alt="image preview">
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" (click)="closeChangeModal()" [disabled]="changeForm.disabled"
			class="modal-close waves-effect waves-green btn-flat">Close</button>
		<button type="submit" [disabled]="changeForm.disabled || changeForm.invalid"
			class="modal-close waves-effect waves-green btn btn-yellow">Save</button>
	</div>
</form>
