<div class="masseuse" *ngIf="!isLoading">
  <div class="main">
    <div class="avatar">
      <img [src]="apiUrl + '/static/' + masseuse.avatarImg" alt="masseuse avatar">
      <h1>{{masseuse.fullname}}</h1>
      <div class="stars">
        <img src="/assets/icons/star.svg" alt="star icon" *ngFor="let item of [].constructor(rating)">
      </div>
    </div>

    <div class="info">
      <h3><span>{{'EMAIL' | translate}}:</span>{{masseuse.email}}</h3>
      <h3><span>{{'AGE' | translate}}: </span>{{masseuse.age}}</h3>
    </div>
  </div>


  <div class="about">
    <h3>{{'ABOUT_ME' | translate}}</h3>
    <p>{{masseuse.about}}</p>
  </div>

  <ng-container>

  </ng-container>
  <div class="about">
    <h3>{{'PRICES' | translate}}</h3>
    <p>{{masseuse.masseuseId?.prices}}</p>
  </div>

  <div class="photos">
    <img [src]="apiUrl + '/static/' + photo" alt="news example" *ngFor="let photo of masseuse.masseuseId?.photos">
  </div>

  <hr>

  <div class="rating">
    <div class="likes">
      <div class="rating-item">
        <img [src]="isLiked ? '/assets/icons/like-filled.svg' : '/assets/icons/like.svg'" alt="like icon" (click)="like()">
        <p>{{masseuse.masseuseId?.likesCount}}</p>
      </div>
    </div>
    <div class="rating-item" (click)="openComments()">
      <img src="/assets/icons/comment.svg" alt="comment icon">
      <p>{{masseuse.masseuseId?.commentsCount}}</p>
    </div>
  </div>
  <div class="comments" [ngClass]="{'active': isOpened}">
    <div class="comment">
      <div class="user">
        <img src="/assets/images/avatar-example.png" alt="avatar example">
        <p>John Johnson</p>
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, veritatis a iusto iure at enim voluptatem assumenda,
        aliquid earum obcaecati ex dolor iste explicabo deleniti quod sequi asperiores ratione ea.</p>
    </div>
    <hr>
  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>
