<div class="massage">
  <img src="/assets/images/news-example.jfif" alt="news example">

  <h1>Massage title</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Itaque esse laborum non minima illum maiores! Debitis magnam sapiente deserunt mollitia porro, eaque
    saepe perspiciatis quae, doloribus architecto odit asperiores? Neque, distinctio voluptatibus sint ipsam
    ullam ea doloremque corrupti similique, velit fugiat consectetur animi repellendus voluptatem aut iusto aliquam,
    itaque rem eum quo. Laboriosam similique quas, itaque necessitatibus ipsa quod fuga! Inventore tempore quod quae,
    perspiciatis atque laboriosam vitae numquam veniam architecto modi dolorum non in necessitatibus porro quas nisi ab
    reprehenderit dignissimos repudiandae labore consequuntur amet magni quam. Assumenda quo dolorem neque voluptatibus
    nulla nostrum eaque facere quam at! Aperiam!</p>
</div>
