<div class="massages">
  <div class="massage">
    <img src="/assets/images/news-example.jfif" alt="news example">
    <div class="content">
      <h3>Massage title</h3>
      <button>Show more...</button>
    </div>
  </div>

  <div class="massage">
    <img src="/assets/images/news-example.jfif" alt="news example">
    <div class="content">
      <h3>Massage title</h3>
      <button>Show more...</button>
    </div>
  </div>

  <div class="massage">
    <img src="/assets/images/news-example.jfif" alt="news example">
    <div class="content">
      <h3>Massage title</h3>
      <button>Show more...</button>
    </div>
  </div>

  <div class="massage">
    <img src="/assets/images/news-example.jfif" alt="news example">
    <div class="content">
      <h3>Massage title</h3>
      <button>Show more...</button>
    </div>
  </div>

  <div class="massage">
    <img src="/assets/images/news-example.jfif" alt="news example">
    <div class="content">
      <h3>Massage title</h3>
      <button>Show more...</button>
    </div>
  </div>
</div>
