<div class="profile">
  <div class="main">
    <div class="avatar">
      <img src="/assets/images/masseuse-avatar.webp" alt="masseuse avatar">
      <h1>Name</h1>
      <div class="stars">
        <img src="/assets/icons/star.svg" alt="star icon">
        <img src="/assets/icons/star.svg" alt="star icon">
        <img src="/assets/icons/star.svg" alt="star icon">
        <img src="/assets/icons/star.svg" alt="star icon">
        <img src="/assets/icons/star.svg" alt="star icon">
      </div>
    </div>

    <div class="info">
      <h3><span>{{'EMAIL' | translate}}:</span>asdasda</h3>
      <h3><span>{{'AGE' | translate}}: </span>asdasda</h3>
    </div>
  </div>


  <div class="about">
    <h3>{{'ABOUT_ME' | translate}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eligendi commodi facilis incidunt saepe quis,
      soluta amet earum, magnam necessitatibus quaerat sequi magni atque tempora id, molestiae voluptas accusantium nobis culpa?
      Labore alias sequi eos ratione optio adipisci, voluptates aliquam cupiditate repudiandae ipsa nihil aperiam eveniet omnis explicabo error at,
      fugiat maiores velit maxime! Nam quibusdam nulla quisquam, inventore assumenda delectus vitae sit? Minus expedita debitis ea nisi molestias neque
      eligendi aliquid quaerat! Quo voluptates error alias laudantium iusto! Commodi magnam eum eos vero doloribus optio ullam perferendis nihil,
      maiores enim iste et ab asperiores nemo animi, eius placeat minus.</p>
  </div>
</div>
