main {
	padding: 20px;
}

nav {
	padding: 0 20px;
	margin-bottom: 20px;
	background-color: #343a40;

  img {
    margin-top: 15px;
    width: 32px;
    height: 32px;
  }
}

.sidenav-trigger {
	cursor: pointer;
}
