<div class="masseuses" *ngIf="!isLoading">
  <div class="masseuse" *ngFor="let masseuse of masseuses">
    <div class="main">
      <img [src]="apiUrl + '/static/' + masseuse.avatarImg" alt="masseuse avatar">
      <div class="content">
        <h2>{{masseuse.fullname}}</h2>
        <div class="rating" *ngFor="let item of [].constructor(rating)">
          <img src="/assets/icons/star.svg" alt="star icon">
        </div>
      </div>
    </div>

    <a (click)="showMore(masseuse)">{{'SHOW_MORE' | translate}}</a>

  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>
