<div class="masseuses">
  <div class="masseuse">
    <div class="main">
      <img src="/assets/images/masseuse-avatar.webp" alt="masseuse avatar">
      <div class="content">
        <h2>Name</h2>
        <div class="rating">
          <img src="/assets/icons/star.svg" alt="star icon">
          <img src="/assets/icons/star.svg" alt="star icon">
          <img src="/assets/icons/star.svg" alt="star icon">
          <img src="/assets/icons/star.svg" alt="star icon">
          <img src="/assets/icons/star.svg" alt="star icon">
        </div>
      </div>
    </div>

    <a>Show more...</a>

  </div>

  <div class="masseuse">
    <div class="main">
      <img src="/assets/images/masseuse-avatar.webp" alt="masseuse avatar">
      <div class="content">
        <h2>Name</h2>
        <div class="rating">
          <div class="rating">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
          </div>
        </div>
      </div>
    </div>

    <a>Show more...</a>

  </div>

  <div class="masseuse">
    <div class="main">
      <img src="/assets/images/masseuse-avatar.webp" alt="masseuse avatar">
      <div class="content">
        <h2>Name</h2>
        <div class="rating">
          <div class="rating">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
          </div>
        </div>
      </div>
    </div>

    <a>Show more...</a>

  </div>

  <div class="masseuse">
    <div class="main">
      <img src="/assets/images/masseuse-avatar.webp" alt="masseuse avatar">
      <div class="content">
        <h2>Name</h2>
        <div class="rating">
          <div class="rating">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
          </div>
        </div>
      </div>
    </div>

    <a>Show more...</a>

  </div>

  <div class="masseuse">
    <div class="main">
      <img src="/assets/images/masseuse-avatar.webp" alt="masseuse avatar">
      <div class="content">
        <h2>Name</h2>
        <div class="rating">
          <div class="rating">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
            <img src="/assets/icons/star.svg" alt="star icon">
          </div>
        </div>
      </div>
    </div>

    <a>Show more...</a>

  </div>
</div>
