

.select-wrapper .caret {

  fill: #ff94b3;
}

.select-wrapper input.select-dropdown {
  color: #ff94b3;
}

.dropdown-content li span {
  color: #ff94b3;
}

.dropdown-content li span {
  color: #ff94b3;
}
